#sider-component {
  height: 100%;
  .sider-container {
    height: 100%;
    position: relative;
    .sider-uncollapsed {
      width: 250px;
      position: fixed;
    }
    .sider-collapsed {
      position: fixed;
      width: 80px;
    }
  }
  .logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
    img {
      width: 90%;
    }
  }
}

.collapse-btn-header {
  background: none;
  padding: 0px;
  position: fixed;
  .collapse-btn {
    font-size: 16px;
    width: 30px;
    height: 50px;
    margin-top: 15px;
    background-color: var(--primary-accent-color);
    border-radius: 0 6px 6px 0;
    &:hover {
      background: var(--primary-color) !important;
    }
    .icon {
      color: white;
      font-size: 26px;
    }
    .close-icon-position {
      transform: rotate(-90deg);
    }
    .open-icon-position {
      transform: rotate(90deg);
    }
  }
}

.ant-menu {
  background: var(--primary-color);
  .ant-menu-item {
    color: white;
    .close-item {
      color: var(--error-color);
    }
    .anticon-close-circle {
      color: var(--error-color);
    }
    .anticon-logout {
      color: var(--error-color);
    }
    &:hover {
      color: white;
      .ant-menu-title-content {
        color: white;
      }
      .anticon {
        color: white;
      }
      .close-item {
        color: var(--error-color);
      }
      .anticon-close-circle {
        color: var(--error-color);
      }
      .anticon-logout {
        color: var(--error-color);
      }
    }
    &:active {
      .ant-menu-title-content {
        color: var(--primary-color);
      }
      .anticon {
        color: var(--primary-color);
      }
      .close-item {
        color: var(--error-color);
      }
      .anticon-close-circle {
        color: var(--error-color);
      }
      .anticon-logout {
        color: var(--error-color);
      }
    }
  }
}
.ant-menu-item-active {
  color: var(--primary-color);
}
.ant-menu-item-selected {
  .ant-menu-title-content {
    color: var(--primary-color);
    &:hover {
      color: var(--primary-color) !important;
    }
  }
  .anticon {
    color: var(--primary-color) !important;
  }
  .close-item {
    color: var(--error-color);
  }
  .anticon-close-circle {
    color: var(--error-color) !important;
  }
  .anticon-logout {
    color: var(--error-color) !important;
  }
}
