/*
  Los nombres de estas clases siempre deben empezar con g- para saber
  que provienen de este archivo
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import './responsive.scss';
@import './colors.scss';

.ant-layout {
  background: white;
}
.g-main-layout {
  background: $bg-color;
  .g-main-layout-container {
    padding: 30px 50px;
  }
}
