@import '../styles/colors.scss';

.ant-layout-header {
  height: auto;
  background: white;
  padding-left: 0;
  padding-right: 0;
}
.header-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.15);
  position: relative;
  z-index: 3;
  background: white;
}
.user-link {
  padding: 50px;
  &:hover {
    background: $primary1;
    .icon,
    .username {
      color: white;
    }
  }
  .icon {
    font-size: 30px;
    color: $primary1;
  }
  .username {
    color: $primary1;
    font-size: 18px;
    margin-right: 10px;
  }
}
.ant-dropdown {
  text-align: right;
  bottom: -80px !important;
  .ant-dropdown-menu {
    border-radius: 0 0 50px 50px !important;
    overflow: hidden;
  }
  .ant-dropdown-menu-item {
    padding: 15px 40px !important;
  }
}
