@import './responsive.scss';
@import './variables.scss';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 100%;
  background-color: var(--primary-accent-color);
  color: var(--color-help-cards);
  border: 1.5px solid var(--second-accent-color);
  border-radius: 10px;
  .ant-card-body {
    padding: 30px;
  }
  p {
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Inter-Regular' !important;
  }
  .help-txt {
    font-family: 'Inter-Bold' !important;
  }
}

.help-wa {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.7;
  }
  img {
    margin-top: -4px;
  }
  p {
    margin-left: 10px;
  }
}

.start-card {
  background-color: var(--secondary-color);
  cursor: pointer;
  &:hover {
    margin-left: 10px;
    background: var(--secondary-color-hover);
  }
}

.start-txt {
  font-family: 'Inter-Bold' !important;
  font-size: 18px !important;
  color: var(--color-start-button);
  @include md {
    font-size: 20px !important;
  }
}

.start-icon {
  font-size: 30px;
  margin-left: 10px;
  color: var(--color-start-button);
}
