@import './responsive.scss';

.login-spin {
  color: white;
  font-family: 'Inter-Light';
}

.forgot-password-txt {
  font-size: 15px;
  font-family: 'Inter-Regular';
  color: var(--secondary-color);
}
.text-white {
  color: white;
  font-size: 14px;
}
