@import '../styles/colors.scss';

.message-container {
  height: 200px;
  overflow: scroll;
  padding: 0px 30px;
  margin: 40px 0;
  .single-message-wrap {
    margin: 0 0 40px 0;
  }
  h2 {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $primary1;
  }
  p {
    color: $dark-text;
    font-size: 17px;
    line-height: 150%;
  }
}
.message-problem-container {
  position: fixed;
  bottom: 30px;
  right: 50px;
  padding: 0 !important;
  z-index: 4;
  .btn-info {
    height: auto !important;
    background: transparent !important;
    border: none;
    padding: 0;
    margin: 0;
  }
  img {
    width: 125px !important;
    height: 125px !important;
    padding: 0 !important;
  }
}
.ant-popover-content {
  .ant-popover-inner {
    background: $primary2;
    width: 210px;
    border-radius: 40px;
    color: white;
    h2 {
      font-size: 15px;
      color: white;
      text-align: center;
      font-family: 'Sofia Sans', sans-serif;
      letter-spacing: 0.5px;
    }
    p {
      font-size: 13px;
      color: white;
      .subject {
        color: $dark-transparency
      }
    }
  }
}
