@import './responsive.scss';
@import './variables.scss';

.title-section {
  color: var(--primary-color);
  font-size: 25px;
  font-family: 'Inter-Bold' !important;
  text-align: center;
}
.question {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  p:first-child {
    font-family: 'Inter-Semibold' !important;
    color: var(--dark-color);
  }
  label {
    font-size: 15px;
  }
}
.questionnaire-btn {
  @include md {
    display: flex;
    justify-content: flex-end;
  }
}
.spin {
  color: var(--secondary-color) !important;
  font-size: 24px;
}
.loader {
  color: var(--primary-color) !important;
  .close {
    color: var(--error-color);
    font-size: 24px;
  }
}
.countdown {
  position: fixed;
  bottom: 130px;
  right: 10px;
  background: white;
  border-radius: 50%;
  z-index: 5;
  font-family: 'Inter-Semibold' !important;
  color: var(--primary-color);
}
