.login-google {
  iframe {
    margin: 0 auto !important;
  }
}

.questionnaire-grade {
  background: var(--bg-grade-student);
  color: white;
  margin: 0;
}
.questionnaire-title {
  color: white;
  background: var(--primary-color);
  margin: 0;
}
.questionnaire-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  .title {
    color: var(--primary-color);
    font-size: 20px;
  }
  .time {
    color: var(--secondary-color);
    font-size: 25px;
  }
  .icon {
    font-size: 100px;
    margin: 0 auto;
    color: var(--second-accent-color);
  }
}
.thanks {
  font-size: 30px;
  color: var(--second-accent-color);
  &:first-line {
    color: var(--primary-color);
  }
}

#answers-saved-page {
  .message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .check-icon {
    color: var(--success-color);
    font-size: 100px;
  }
  .message-txt {
    font-family: 'Inter-SemiBold' !important;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 40px;
  }
  .logout-btn {
    width: 100%;
    font-family: 'Inter-Regular';
    font-size: 14px;
  }
}
