:root {
  --title-text-color: black;
  --title-manager-color: var(--primary-color);
  --primary-color: #4674c2;
  --primary-accent-color: #275ab1;
  --second-accent-color: #e95cc0;
  --secondary-color: #fdbf2d;
  --url-bg: url('/assets/default/bg-default.jpg');
  --secondary-color-hover: #eea904;
  --error-color: #ff9999;
  --error-color-hover: #d46f6f;
  --dark-color: #484848;
  --success-color: #00c365;
  --btn-new-element: #fdbf2d;
  --width-logo-sm: 90%;
  --width-logo-md: 80%;
  --width-logo-lg: 450px;
  --width-logo-xl: 450px;
  --width-logo-student-xl: 450px;
  --width-logo-student-sm: 90%;
  --width-logo-student-md: 90%;
  --width-logo-student-lg: 450px;
  --width-logo-student-xl: 450px;
  --width-logo-footer-sm: 300px;
  --width-logo-footer-md: 350px;
  --width-logo-footer-lg: 350px;
  --width-logo-footer-xl: 350px;
  --color-help-cards: white;
  --color-start-button: var(--secondary-color);
  --bg-grade-student: var(--secondary-accent-color);
  --color-secondary-button: var(--dark-color);
  --layout-title-color: white;
  --label-layout-color: white;
  --help-button-color: var(--secondary-color);
  --foreign-student-color: white;
  --title-error-color: var(--secondary-color);
}

.theme-rutasqro {
  --title-text-color: white;
  --title-manager-color: var(--primary-color);
  --primary-color: #4674c2;
  --primary-accent-color: #275ab1;
  --second-accent-color: #e95cc0;
  --secondary-color: #fdbf2d;
  --url-bg: url('/assets/rutasqro/bg-default.jpg');
  --secondary-color-hover: #eea904;
  --error-color: #ff9999;
  --error-color-hover: #d46f6f;
  --dark-color: #484848;
  --url-bg-error-page: url('/assets/rutasqro/bg-error-page.jpg');
  --success-color: #00c365;
  --btn-new-element: #fdbf2d;
  --width-logo-sm: 90%;
  --width-logo-md: 60%;
  --width-logo-lg: 400px;
  --width-logo-xl: 400px;
  --width-logo-student-sm: 90%;
  --width-logo-student-md: 80%;
  --width-logo-student-lg: 200px;
  --width-logo-student-xl: 200px;
  --width-logo-footer-sm: 60%;
  --width-logo-footer-md: 150px;
  --width-logo-footer-lg: 150px;
  --width-logo-footer-xl: 150px;
  --color-help-cards: white;
  --color-start-button: white;
  --bg-grade-student: var(--second-accent-color);
  --color-secondary-button: var(--dark-color);
  --layout-title-color: white;
  --label-layout-color: white;
  --help-button-color: var(--secondary-color);
  --foreign-student-color: white;
  --title-error-color: var(--secondary-color);
}
.theme-rutasqro_2 {
  --title-text-color: white;
  --title-manager-color: var(--primary-color);
  --primary-color: #758592;
  --primary-accent-color: #8f9ca7;
  --second-accent-color: #dba5ab;
  --secondary-color: #f1cc85;
  --secondary-color-hover: #e5bd71;
  --url-bg: url('/assets/rutasqro_2/bg.jpg');
  --error-color: #ff9898;
  --error-color-hover: #ffc2c2;
  --dark-color: #484848;
  --url-bg-error-page: url('/assets/rutasqro_2/bg-error-page.jpg');
  --success-color: #c7d779;
  --grey-color: #b4b4b4;
  --warning-color: #fff4d8;
  --logo-landing: url('/assets/rutasqro_2/logo.png');
  --logo-sider: url('/assets/rutasqro_2/logo.png');
  --logo-responsive: url('/assets/rutasqro_2/logo-responsive.png');
  --btn-new-element: var(--secondary-color);
  --width-logo-sm: 90%;
  --width-logo-md: 60%;
  --width-logo-lg: 400px;
  --width-logo-xl: 400px;
  --width-logo-student-sm: 90%;
  --width-logo-student-md: 80%;
  --width-logo-student-lg: 200px;
  --width-logo-student-xl: 200px;
  --width-logo-footer-sm: 60%;
  --width-logo-footer-md: 150px;
  --width-logo-footer-lg: 150px;
  --width-logo-footer-xl: 150px;
  --color-help-cards: white;
  --color-start-button: white;
  --bg-grade-student: var(--second-accent-color);
  --color-secondary-button: var(--dark-color);
  --layout-title-color: white;
  --label-layout-color: white;
  --help-button-color: var(--secondary-color);
  --foreign-student-color: white;
  --title-error-color: var(--secondary-color);
}
.theme-recrea {
  --title-text-color: var(--dark-color);
  --title-manager-color: var(--dark-color);
  --primary-color: #feb32a;
  --primary-accent-color: #fed165;
  --second-accent-color: #399dd7;
  --secondary-color: #e20043;
  --secondary-color-hover: #c1073f;
  --url-bg: url('/assets/recrea/bg.jpg');
  --error-color: #e20043;
  --error-color-hover: #c1073f;
  --dark-color: #383838;
  --url-bg-error-page: url('/assets/recrea/bg-error-page.jpg');
  --success-color: #3aae29;
  --grey-color: #b4b4b4;
  --warning-color: #fff4d8;
  --btn-new-element: #399dd7;
  --width-logo-sm: 90%;
  --width-logo-md: 80%;
  --width-logo-lg: 450px;
  --width-logo-xl: 450px;
  --width-logo-student-xl: 450px;
  --width-logo-student-sm: 90%;
  --width-logo-student-md: 90%;
  --width-logo-student-lg: 450px;
  --width-logo-student-xl: 450px;
  --width-logo-footer-sm: 300px;
  --width-logo-footer-md: 350px;
  --width-logo-footer-lg: 350px;
  --width-logo-footer-xl: 350px;
  --color-help-cards: var(--dark-color);
  --color-start-button: white;
  --bg-grade-student: var(--secondary-color);
  --color-secondary-button: white;
  --layout-title-color: var(--dark-color);
  --label-layout-color: var(--dark-color);
  --help-button-color: var(--second-accent-color);
  --foreign-student-color: var(--dark-color);
  --title-error-color: var(--secondary-color);
}
